body,
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #20024a;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.bg-image {
  background-image: url("main-bg-img.jpg");
  filter: blur(11px);
  -webkit-filter: blur(11px);
  position: fixed;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-wrap {
  border-radius: 0.2em;
  margin: 4em 15vw;
  padding: 20px;
  background: rgba(255,255,255,.9);
  -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}
nav .nav-item {
  position: absolute;
  z-index: 1;
  top: 1em;
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
}
nav .nav-item.log-in {
  right: 2em;
}
nav .nav-item.sign-up {
  right: 6em;
}
.vive {
  background-image: url("Index_deluxe_kit.png");
  width: 21rem;
  height: 22rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
.circle {
  height: 24em;
  width: 24em;
  background-color: #bbb;
  border-radius: 50%;
  text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .page-wrap {
    margin: 4em 0.5em;
  }
  nav .nav-item { 
    top: .5em;
  }
}

@media only screen and (min-width: 1281px) {
  .page-wrap {
    margin: 4em 20vw;
  }
}

/* @media (min-width:320px) 
@media (min-width:481px) 
@media (min-width:641px) 
@media (min-width:961px) 
@media (min-width:1025px)
@media (min-width:1281px) */
